
@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    
}

html,body {
  height: 100%;
}

body {
    color: white;
    background-color: #3b3b3b;
    padding-top: 32px;
    background-image: linear-gradient(rgb(45, 45, 45), black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.glavni {
    margin: 0 auto 0;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.glava {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 734px;
    height: 36px;
    padding: 32px 0px 8px 0px;
    margin-left: 9px;
}

.prijava_div{
    width: 734px;
    padding-bottom: 32px;
    background-color:#121212;
    border-radius: 8px;
}

h1{
    font-family: mixUITiltle;
    text-align: center;
    font-size: 2em;
}

.povezave {
    margin-top: 32px;
    margin-left: 213px;
}

.google {
  width: 324px;
  height: 48px;
  background-color: #121212;
  border-radius: 40px;
  border: 1px solid#818181;
  cursor: pointer;
}

#facebookdiv {
  margin-top: 8px;
}

.google:hover {
  border-color: white;
}

.ikonagoogle {
  float: left;
  margin-left: 31px;
}

.registrirajbarva {
  font-size: 16px;
  color: #FFFFFFE6;
  margin-right: 21px;
  font-family: CircularSpotifyBold;
}

.facebook {
  width: 324px;
  height: 48px;
  background-color: #121212;
  border-radius: 40px;
  font-family: CircularSpotifyBold;
  border: 1px solid #818181;
  cursor: pointer;
}

.facebook:hover {
  border-color: white;
}
.ikonafacebook {
  float: left;
  margin-left: 31px;
}

.apple {
  width: 324px;
  height: 48px;
  background-color: #121212;
  border-radius: 40px;
  border: 1px solid #818181;
  margin-bottom: 8px;
  cursor: pointer;
}

.apple:hover {
  border-color: white;
}

.ikonaapple {
  float: left;
  margin-left: 31px;
}

#applediv {
  margin-top: 8px;
}

.crta {
  height: 1px;
  background-color: #292929;
  margin: 32px 100px 32px 100px;
  width: 534px;
}

.prviDiv {
    margin-top: -8px;
    margin-left: 213px;
}

.naslov {
  width: 100%;
  margin-left: 9px;
}

label {
  font-size: 14px;
  font-family: mixUIBold;
}

.naprejbarva {
  font-size: 16px;
  color: black;
}

.enaslov {
  margin-bottom: 8px;
}

#textF {
  all: unset;
  width: 298px;
  height: 22px;
  border-radius: 4px;
  background-color: #121212;
  border: 1px #818181 solid;
  color: white;
  font-size: 16px;
  font-family: mixUIRegular;
  padding: 12px;
}

#textF.invalid {
  border: 1px solid red;
}
#textF.invalid:hover {
  border: 1px solid red;
}

#textF:hover {
  border-color: white;
}

#textF::placeholder {
  font-size: 16px;
  font-weight: 500;
  font-family: mixUIRegular;
  color: rgb(182, 176, 176);
}

.epostaIntextF {
  margin-top: 40px;
  margin-bottom: 20px;
  width: fit-content;
}

#password {
  all: unset;
  width: 298px;
  height: 22px;
  border-radius: 4px;
  background-color: #121212;
  border: 1px #818181 solid;
  color: white;
  font-size: 16px;
  font-family: mixUIRegular;
  padding: 12px;
  margin-top: 8px;
  display: block;
}

#pasword:hover {
  border-color: white;
}

#password::placeholder {
  font-size: 16px;
  font-weight: 500;
  font-family: mixUIRegular;
  color: rgb(182, 176, 176);
}

.ikonaskrij {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  right: 12px;
  cursor: pointer;
}
.ikonaskrij > * {
  fill: rgb(179, 179, 179);
}

.ikonaskrij > :hover {
  fill: #fff;
  transform: scale(1.05);
}

.gumb {
  width: 324px;
  height: 48px;
  background-color: #1ed760;
  border: unset;
  border-radius: 40px;
  font-family: mixUIRegular;
  cursor: pointer;
  margin-top: 32px;
  user-select: none;
}

.gumbEnabled{
  user-select: all;
}

.gumb:hover {
  background-color: #3be477;
  transform: scale(1.04);
}

.gumbNaprej{
  margin-top: -7px;
}

.ikonaskrij .off {
  display: none;
}

.ikonaskrij{
  margin-top: 14px;
}

.geslodiv{
  width: 324px;
  position: relative;
  margin-top: -5px;
}

#text1{
  width: 324px;
  margin-top: 32px;
}

.pozabljenoGesloText{
  font-family: mixUIRegular;
  font-size: 16px;
  justify-content: center;
  display: flex;
  text-decoration: underline;
}

.pozabljenoGesloText:hover{
  color: #1ed760;
}

a{
  color: white;
}

.nimasRacunaText{
  font-family: mixUIRegular;
  font-size: 16px;
  color: rgb(182, 176, 176);
}

.registrirajSeText{
  font-family: mixUIRegular;
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin-left: 8px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.registrirajSeText:hover{
  color: #1ed760;
}

#text2{
  width: 324px;
  margin-top: 32px;
 
}

.wrapSpan{
  justify-content: center;
  display: flex;
}


.noga {
  font-family: mixUIRegular;
  font-size: 12px;
  color: #b3b3b3;
  padding: 24px;
  text-align: center;
  width: 100%;
  background-color:#121212;
  box-sizing: border-box;
}
